################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AtelierMock/C#/CaractereCopieur/bin/Debug
/AtelierMock/C#/CaractereCopieur/obj/Debug
/AtelierMock/C#/CaractereCopieur.Tests/bin/Debug
/AtelierMock/C#/CaractereCopieur.Tests/obj/Debug
/AtelierMock/C#/ConsoleCopieur/bin/Debug
/AtelierMock/C#/ConsoleCopieur/obj/Debug
*.suo
/AtelierMock/VB.Net/CaractereCopieur/obj/Debug
/AtelierMock/VB.Net/CaractereCopieur/bin/Debug/CaractereCopieur.xml
/AtelierMock/VB.Net/CaractereCopieur/bin/Debug/CaractereCopieur.pdb
/AtelierMock/VB.Net/CaractereCopieur/bin/Debug/CaractereCopieur.dll
/AtelierMock/VB.Net/CaractereCopieur/bin/Debug
/AtelierMock/VB.Net/CaractereCopieur.Tests/bin/Debug
/AtelierMock/VB.Net/CaractereCopieur.Tests/obj/Debug
/AtelierMock/VB.Net/CopieurConsole/bin/Debug
/AtelierMock/VB.Net/CopieurConsole/obj/x86/Debug
/FizzBuzz/CSharp/obj/Debug
/FizzBuzz/CSharp/bin/Debug
/FizzBuzz/CSharp/.vs/Kata.FizzBuzz/v16
/FizzBuzz/CSharp/Kata.FizzBuzz.vssscc
/FizzBuzz/CSharp/Kata.FizzBuzz.csproj.vspscc
/FizzBuzz/VB.Net/obj/Debug
/FizzBuzz/VB.Net/bin/Debug
/FizzBuzz/VB.Net/Kata.FizzBuzz.vssscc
/FizzBuzz/VB.Net/Kata.FizzBuzz.vbproj.vspscc
/FizzBuzz/VB.Net/Kata.FizzBuzz.vbproj.user
/StringCalculator/.vs/StringCalculator/v16
/StringCalculator/StringCalculator/obj/Debug
/StringCalculator/StringCalculator/bin/Debug
